modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 20068
externalPort = 3001

[[ports]]
localPort = 20152
externalPort = 3000

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BGYQCewseYFD625YvGZBvN2YnJuMOgpMmv_SrIUuBf8AL24u5TM156BtEojR0UJxFkKO-F4l3tMsXG4PiAeulV0"
VAPID_PRIVATE_KEY = "AZjEBiwsx3laq7M-l0_N3S5AeBWZPnq3JjQzbv39XpM"
VAPID_EMAIL = "mailto:admin@maintenance-tracker.app"
